#!/usr/bin/make -f
# debian/rules for alien

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

override_dh_clean:
	dh_clean -d

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:
	mkdir -p debian/$(PACKAGE)
	# Copy the packages's files.
	find ./ -type d -name "usr" -not -name debian -print0 | \
		sed -e s#'./'##g | \
		xargs -0 -r -i cp -a ./{} debian/$(PACKAGE)/{}
#
# If you need to move files around in debian/$(PACKAGE) or do some
# binary patching, do it here
#
# Este archvio ha sido modificado por Washington Indacochea wachin.id@gmail.com
# para poder usar este método que usa Alien para empaquedar muchos archivos 
# rpm a debian, en el cual crea un archivo rules generico 
# para toda clase de programas

# This file has been modified by Washington Indacochea wachin.id@gmail.com 
# in order to use this method that Alien uses to pack many rpm files
# into debian, in which it creates a generic rules 
# file for all kinds of programs

override_dh_strip:
# This has been known to break on some wacky binaries.
	#	dh_strip

override_dh_fixperms:
#	dh_fixperms

override_dh_shlibdeps:
	-dh_shlibdeps

